{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todoitem.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for item in todoitem.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>